<div class="container">
    <h1>Manage</h1>
    <div class="row">
        <div class="col s4">
            <h3>Trigger</h3>
            <hr>
            <ul>
                <li *ngFor="let item of triggers | keyvalue" (click)="getRules(item.key)">{{ item.key }}</li>
            </ul>
        </div>
        <div class="col s4">
            <h3>Rules</h3>
            <hr>
            <ul>
                <li *ngFor="let item of rules" class="rules-content" (click)="getProperties(item.name)">{{ item.name }}</li>
            </ul>
            <a class="waves-effect waves-light btn-small red">Delete</a>
        </div>
        <div class="col s4">
            <h3>Properties</h3>
            <hr>
            <ul>
                <li *ngFor="let item of properties" class="rules-content">{{ item.name }}</li>
            </ul>
        </div>
    </div>
</div>