<div class="container">
    <h1>Manage</h1>
    <div class="row">
        <div class="col s4">
            <h3>Trigger</h3>
            <hr>
            <ul *ngFor="let item of triggers">
                <li *ngIf="item; else elseBlock" class="listItem" (click)="getRules(item)">
                    {{ item }}
                    <div class="right">
                        <a class="waves-effect waves-light btn-small blue modal-trigger" data-target="modalGenerate" (click)="runGenerate(item)">Generate</a>
                    </div>
                </li>
                <ng-template #elseBlock><p style="font-style: italic">No triggers available</p></ng-template>
            </ul>
        </div>
        <div class="col s4">
            <h3>Rules</h3>
            <hr>
            <ul *ngFor="let item of rules">
                <li *ngIf="item; else elseBlock" class="listItem" (click)="getProperties(item)">
                    {{ item }}
                    <div class="right">
                        <a class="btn-floating btn-large waves-effect waves-light btn-small red">✕</a>
                    </div>
                </li>
                <ng-template #elseBlock><p style="font-style: italic">No rules available</p></ng-template>
            </ul>
        </div>
        <div class="col s4">
            <h3>Properties</h3>
            <hr>
            <ul>
                <!-- <li class="listItem" *ngFor="let item of properties">{{ item.name }}</li> -->
            </ul>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modalGenerate" class="modal">
    <div class="modal-content">
        <h4>Generate</h4>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>