.login {
    margin-top: 9em;
    background-color: rgb(29, 29, 29);
    width: 100%;
    padding: 5px 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: 1px solid black;
    border-bottom: none;

    h1 {
        color: rgb(73, 73, 73);
    }

    input, option {
        color: rgb(133, 133, 133);
    }
}
.continue {
    width: 100%;
    border-radius: 0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: none;
    border: 1px solid black;
    border-top: none;
}

.toast {
    border-left: 3px solid red;
}