.toolbar {
    background-color: rgb(65, 65, 65);
    display: inline-block;
    width: 100%;
    height: 30px;
    border-left: 4px solid orange;

    .left {
        color: rgb(228, 228, 228);
        float: left;

        h1 {
            font-size: 16px;
            margin: 7px;
            padding: 0;
        }
    }

    .middle {
        width: 75%;
        text-align: center;
        display: inline-block;
        height: 30px;
        margin: 0;
        padding: 0;

        a {
            height: 100%;
            border-radius: 5px;
            width: 90px;
            padding: 6px;
            display: inline-block;
            text-decoration: none;
            color: rgb(226, 225, 225);
            transition: 0.2s;

            &:hover {
                background-color: rgb(56, 56, 56);
            }
        }

        .active {
            background-color: rgb(46, 46, 46);

            &:hover {
                background-color: rgb(107, 107, 107);
            }
        }
    }

    .right {
        float: right;
    
        button {
            width: 45px;
            height: 30px;
            background-color: transparent;
            border: none;
            color: white;
            transition: 0.2s;

            &:hover {
                background-color: rgb(179, 179, 179);
                color: black;
            }
        }
    }
}