.toolbar {
    background-color: rgb(39, 39, 39);
    display: inline-block;
    width: 100%;
    height: 30px;

    .left {
        color: white;
        float: left;

        h1 {
            font-size: 18px;
            margin: 6px;
            padding: 0;
        }
    }

    .right {
        float: right;
    
        button {
            width: 45px;
            height: 30px;
            background-color: transparent;
            border: none;
            color: white;
            transition: 0.2s;

            &:hover {
                background-color: rgb(70, 70, 70);
            }
        }
    }
}